#invite_section{
    .container{
        .qr_code{
            width: 99px;
            margin: auto;
            margin-top: 10px;
        }

        .copy_invitation_code_wrapper{
            padding: var(--size3) var(--size4);
            background-color: var(--abalance1);
            border-radius: var(--size2);
            box-shadow: 0 1px 2px var(--balance4);
            cursor: pointer;
            .top{
                margin-bottom: 20px;
            }
            .body{
                .text{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    input{
                        border: 1px solid;
                        padding: 10px;
                        outline: none;
                        border-radius: 7px 0 0 7px;
                        border-right: 0;
                    }
                    .copy_my_btn{
                        padding: 10px;
                        background: #15A1FA;
                        color: white;
                        border-radius: 0 7px 7px 0;
                    }
                }
            }
        }

        .paclages_card_wrapper{
            margin-top: 40px;
            padding: var(--size3) var(--size4);
            background-color: var(--abalance1);
            border-radius: var(--size2);
            box-shadow: 0 1px 2px var(--balance4);
            cursor: pointer;
            .paclages_card_wrapper_header{
                margin-bottom: 20px;
            }
            .paclages_card_wrapper_footer{
                .cards{
                    margin-bottom: 20px;
                    .header{
                        margin-bottom: 7px;
                    }
                }
            }
        }
    }
}
